<iframe id="simulator"
        src="https://localhost.io/embed/{{key}}?device={{device}}&scale={{scale}}&autoplay=true&orientation=portrait&deviceColor=black&xdocMsg=true&params={{params}}"
        frameborder="0"
        scrolling="no"
        height="{{height}}px"
        width="{{width}}px">
</iframe>

<div id="handshake" data="{{key}}/{{device}}/{{deviceIdentifier}}"></div>

<img id="screenshot" />

<script src="vendors/socket.io.1.7.3.js" ></script>
<script src="scripts/frame-connection.js" ></script>
